{% extends 'admin.html.twig' %}

{% block title %}
    Admin Dashboard
{% endblock %}

{% block content %}

<main class='main-dashboard uk-container'>
    <h2 class='h2-dashboardAdmin'>Dashboard</h2>
    <div class="parent-grid-dashboard uk-child-width-1-3@m uk-text-center uk-link-text" uk-grid>
        <div>
            <a href="commandes" class='grid-dashboard'><li class="uk-card uk-card-default uk-card-body">Commandes</li></a>
        </div>
        <div>
            <a href="gestionProduit" class='grid-dashboard'><li class="uk-card uk-card-default uk-card-body">Gestion produits</li></a>
        </div>
        <div>
            <a href="stock" class='grid-dashboard'><li class="uk-card uk-card-default uk-card-body">Stock</li></a>
        </div>
        <div>
            <a href="message" class='grid-dashboard'><li class="uk-card uk-card-default uk-card-body">Messages clients</li></a>
        </div>           
        <div>
            <a href="/" class='grid-dashboard'><li class="uk-card uk-card-default uk-card-body">Accueil</li></a>
        </div>           
    </div>
</main>
{% endblock %}