{% extends 'admin.html.twig' %}

{% block content %}
    <form action="" method='post' class='uk-position-center'>

        <div class="uk-margin">
            <input class="input-restock-edit uk-input uk-form-width-large" placeholder="Produit" aria-label="Input" value='{{ editRestock.product }}' name='product'>
        </div>

        <div class="uk-margin">
            <input class="input-restock-edit uk-input uk-margin-top uk-form-width-large" placeholder="Quantité" aria-label="Input" value='{{ editRestock.quantity }}' name='quantity'>
        </div>

        <div class="uk-margin">
            <input type='hidden' name='id' value='{{ editRestock.id }}'>
        </div>

        <button class="bouton-restock-edit uk-align-center uk-button uk-button-default uk-margin-bottom">Valider</button>

        <a href="/restock"class="bouton-restock-edit uk-align-center uk-button uk-button-default uk-margin-bottom">Page précédente</a>
    </form>
{% endblock %}