<header class='header-nav-admin'>
    <button class="bouton-open-nav-admin uk-button uk-button-default" type="button" uk-toggle="target: #offcanvas-overlay">Open</button>
    <div id="offcanvas-overlay" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <h3 class='h3-admin-nav'>Dashboard</h3>
            <div class="uk-width-1-2@s uk-width-2-5@m">
                <ul class="admin-ul-nav uk-nav uk-nav-default">
                    <li class='admin-nav-liste'><a href="/dashboard">Dashboard</a></li>
                    <li class='admin-nav-liste'><a href="/commandes">Commandes</a></li>
                    <li class='admin-nav-liste'><a href="/gestionProduit">Gestion produits</a></li>
                    <li class='admin-nav-liste'><a href="/stock">Stock</a></li>
                    <li class='admin-nav-liste'><a href="/message">Message clients</a></li>
                    <li class='admin-nav-liste'><a href="/">Accueil</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>