<div class="" uk-grid uk-height-match="target: .d-grid" >
	<div class="d-grid uk-width-1-3@m uk-card ">
		<div class="uk-position-relative uk-visible-toggle uk-light d-border" tabindex="-1" uk-slideshow>
			<ul class="uk-slideshow-items " uk-height-viewport="offset-top: true; offset-bottom: 30">
				<li>
					<img src="https://picsum.photos/200/300" alt="" uk-cover>
				</li>
				<li>
					<img src="https://picsum.photos/200/300" alt="" uk-cover>
				</li>
				<li>
					<img src="https://picsum.photos/500/900" alt="" uk-cover>
				</li>
			</ul>
			<a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous uk-slideshow-item="previous"></a>
			<a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next uk-slideshow-item="next"></a>
		</div>
	</div>

	<div class="d-grid uk-width-2-3@m ">
		<div class="uk-child-width-1-3@s uk-text-center" uk-grid>
			<div>
				<div class="uk-card uk-card-default d-border">
					<div class="uk-card-media-top">
						<img src="https://picsum.photos/200/300" width="1800" height="1200" alt="">
					</div>
				</div>
                <p class='uk-text-align'>32 €</p>
			</div>
			<div>
				<div class="uk-card uk-card-default d-border">
					<div class="uk-card-media-top">
						<img src="https://picsum.photos/200/300" width="1800" height="1200" alt="">
					</div>
				</div>
                <p class='uk-text-align'>32 €</p>
			</div>
			<div>
				<div class="uk-card uk-card-default d-border">
					<div class="uk-card-media-top">
						<img src="https://picsum.photos/200/300" width="1800" height="1200" alt="">
					</div>
				</div>
                <p class='uk-text-align'>32 €</p>
			</div>
			<div>
				<div class="uk-card uk-card-default d-border">
					<div class="uk-card-media-top">
						<img src="https://picsum.photos/200/300" width="1800" height="1200" alt="">
					</div>
				</div>
                <p class='uk-text-align'>32 €</p>
			</div>
			<div>
				<div class="uk-card uk-card-default d-border">
					<div class="uk-card-media-top">
						<img src="https://picsum.photos/200/300" width="1800" height="1200" alt="">
					</div>
				</div>
                <p class='uk-text-align'>32 €</p>
			</div>
			<div>
				<div class="uk-card uk-card-default d-border">
					<div class="uk-card-media-top">
						<img src="https://picsum.photos/200/300" width="1800" height="1200" alt="">
					</div>
				</div>
                <p class='uk-text-align'>32 €</p>
			</div>

		</div>
	</div>
</div>
