<footer>

<div class="infos">
    <div class="footerHaut">
        <div class="footerGauche">
            <ul>
                <li>Conditions d'utilisation</li>
                <li>Mentions légales</li>
            </ul>
        </div>
        <div class="footerDroit">
            <ul>
                <li> <a href="contact">Contact</a></li>
                <li>Préférences en matières de Cookies</li>
            </ul>
        </div>
    </div>
        <div class="footerBas">
                <p>Copyright © 2023 Stras'bouq. All rights reserved</p>
        </div>
</div>

</footer>