<nav id="nav">
	<h3 class="titreNav">Stras'bouq</h3>
	<img src="/assets/images/layer2.png" alt="" class="logo">
	<ul class="menuCentre">
		<div class='hiddenText' id='hiddenText'></div>
		<li>
			<a href="/" class='nav-a'>Home
			</a>
		</li>
		<li>
			<a href="personal_bouquet" class='nav-a'>Bouquet personalisé
			</a>
		</li>
		<li>
			<a href="catalogue" class='nav-a'>Catalogue
			</a>
		</li>

	</ul>

	<div class="menuDroite">
		{% if session.isAdmin == true %}

			<li>
				<a href="/dashboard" class='uk-margin-left uk-margin-right' uk-icon="icon: settings; ratio: 10"></a>
			</li>
		{% endif %}
		{% if session.isLoggin %}
			<li>
				<a href="/logout" uk-icon="icon: sign-out; ratio: 5"></a>
			</li>
			<li>
				<a href="#" class='nav-a'><img src="/assets/images/panier.png"></a>
			</li>
		{% else %}
			<li>
				<a href="/login" class='nav-a'><img src="/assets/images/account.png"></a>
			</li>
		{% endif %}
	</div>
	<div id="icons"></div>
</nav>