<nav id="nav">
    <h3 class="titreNav">Stras'bouq</h3>
    <img src="/assets/images/layer2.png" alt="Logo Stras'bouq" class="logo">
    <ul class="menuCentre">
        <li>
            <a href="bouquetsperso.php">Bouquets personnalisés </a>
        </li>
        <li>
            <a href="fleurs.php">Fleurs </a>
        </li>
        <li>
            <a href="boutique.php">Boutique </a>
        </li>
    </ul>
    <div class="menuDroite">
            <li><a href="myaccount.php"><img src="/assets/images/account.png" title="logo mon compte" alt="Mon compte"></a></li>
            <li><a href="panier.php"><img src="/assets/images/panier.png" title="logo panier" alt="Mon panier"></a></li>
    </div>
    <div id="icons"></div>
</nav>