<nav id="nav">
    <h3 class="titreNav">Stras'bouq</h3>
    <img src="/assets/images/layer2.png" alt="" class="logo">
    <ul class="menuCentre" >
        <div class='hiddenText' id='hiddenText'></div>
            <li>
                <a href="/" class='nav-a'>Home </a>
            </li>
            <li>
                <a href="personal_bouquet" class='nav-a'>Bouquet personalisé </a>
            </li>
            <li>
                <a href="#" class='nav-a'>Catégories </a>
            </li>
        
    </ul>
    <div class="menuDroite">
            <li><a href="login" class='nav-a'><img src="/assets/images/account.png"></a></li>
            <li><a href="#" class='nav-a'><img src="/assets/images/panier.png"></a></li>
    </div>
    <div id="icons"></div>
</nav>