<nav id="nav">
    <h3 class="titreNav">Stras'bouq</h3>
    <img src="/assets/images/layer2.png" alt="" class="logo">
    <ul class="menuCentre">
        <li>
            <a href="bouquetsperso.php" class='nav-a'>Bouquets personnalisés </a>
        </li>
        <li>
            <a href="fleurs.php" class='nav-a'>Fleurs </a>
        </li>
        <li>
            <a href="boutique.php" class='nav-a'>Boutique </a>
        </li>
    </ul>
    <div class="menuDroite">
            <li><a href="myaccount.php" class='nav-a'><img src="/assets/images/account.png"></a></li>
            <li><a href="panier.php" class='nav-a'><img src="/assets/images/panier.png"></a></li>
    </div>
    <div id="icons"></div>
</nav>