<nav id="nav">
    <h3 class="titreNav">Stras'bouq</h3>

    <img src="/assets/images/layer2.png" alt="Logo Stras'bouq" class="logo">
    <ul class="menuCentre" >
        <div class='hiddenText' id='hiddenText'></div>
            <li>
                <a href="/" class='nav-a'>Home </a>
            </li>
            <li>
                <a href="personal_bouquet" class='nav-a'>Bouquet personnalisé </a>
            </li>
            <li>
                <a href="#" class='nav-a'>Catégories </a>
            </li>
        
    </ul>
    <div class="menuDroite">
            <li><a href="login" class='nav-a'><img src="/assets/images/account.png" alt='mon compte'></a></li>
            <li><a href="#" class='nav-a'><img src="/assets/images/panier.png" alt='panier'></a></li>

    </div>
    <div id="icons"></div>
</nav>