<div class='pres-index-box'>
    <div class='presentation-image'>
    <img src="assets/images/yavuz.jpg" alt="Yavuz-le-fleuriste">
    </div>
    <p class='presentation-paragraphe'>Vincent et Yavuz un petit couple de fleuristes dans la region de Strasbourg. Ils se sont rencontrés lors du concours du meilleur ouvrier fleuriste 2022. <br><br>
    Entre eux ce fut le coup de foudre alors ils ont décidé d’ouvrir une nouvelle boutique en plein centre ville de Strabourg qui est leur ville natale.
    </p>
    <div class='presentation-image'>
    <img src="assets/images/vincent.jpg" alt="Vincent-le-fleuriste">
    </div>
</div>