{% extends "layout.html.twig" %}

{% block title %}
	{{ parent() }}
	- Login
{% endblock %}

{% block content %}
	<header class='login-header'>
		<h2 class='h2-login'>Login</h2>
	</header>
	<main>
		<div class="formulaire-log">
			<form class="uk-margin" method='post'>
				<div class="uk-form-controls">
					{% if errors.email is defined %}
						<div class='logError'>{{ errors.email }}</div>
					{% endif %}
					<input class="login-input uk-input" id="form-horizontal-text" type="text" placeholder="Email" name='email'>
				</div>
				{% if errors.password is defined %}
					<div class='logError'>{{ errors.password }}</div>
				{% endif %}
				<div class="uk-form-controls">
					<input class="login-input uk-input" id="form-horizontal-text" type="password" placeholder="Mot de passe" name='password'>
				</div>
					<li class='log-creat'><a href="signup">Créer un compte</a></li>
				<div class="button-log">
					<button class="button1-mdp uk-button uk-button-default uk-button-small">Mot de passe oublié</button>
				</div>
				<div class="button-log">
					<button class="button2-sub uk-button uk-button-default">Submit</button>
				</div>
			</form>
		</div>
	</main>
{% endblock %}
