<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="style.css">
		<title>Erreur 404</title>
	</head>
	<body>
		<div class="container-page-404">
			<h1 class="error404">404</h1>

			<p class="message404">La page que vous cherchez n'existe pas.</p>
			<div class="container-page">
				<img src="" alt="Fleur">
			</div>
			<button class="button404">
				<a class="link404" href="index.html">Retour à l'accueil</a>
			</button>
		</body>
	</body>
</html>
