<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="style.css">
		<title>Erreur 404</title>
	</head>
	<body>

		<div class="container-page">
			<h1 class="error">404</h1>

			<p class="message">La page que vous cherchez n'existe pas.</p>
			<div class="container-page">
				<img src="" alt="Fleur">
			</div>
			<button>
				<a class="link" href="index.html">Retour à l'accueil</a>
			</button>
		</body>
	</body>
</html>
