{% extands 'layout.html.twig' %} 

{% block title %} parent() - produit{% endblock %}

{% block content %}
<div class="banner">
            <div class="banner-text">Catalogue</div>
        </div>


            <div class="container">
            <img src="assets\bouquet.jpg" alt="Photo" class="image">
            
            <div class="text">
                <h1>30€</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque est asperiores amet eveniet reiciendis temporibus maiores mollitia aperiam, vitae, perferendis, necessitatibus sequi praesentium repellendus ad ea iste veniam officiis. Iste. </p>
                <button>
                    Submit 
                </button>
                </div>


</div>
{% endblock %}