{% extends 'layout.html.twig' %}

{% block content %}
    <form action="" method='post'>
        <input type="text" name="userId" id="">
        <input type="text" name="lastname" id="">
        <input type="text" name="firstname" id="">
        <input type="text" name="email" id="">
        <input type="password" name="password" id="">
        <button>submit</button>
    </form>
{% endblock %}
