.card-home{
    width: 14rem;
    height: 20rem;
}

.uk-card-body {
padding: 0.5rem;
}

.uk-position-relative {
    height: 44rem;
}

/* <div class="uk-child-width-1-2@s uk-child-width-1-3@m " uk-grid="masonry: pack" >
	<div class="uk-position-relative uk-visible-toggle uk-light uk-flex uk-flex-center uk-flex-middle .uk-column-1-2" tabindex="-1" uk-slideshow="ratio: false">

		<ul class="uk-slideshow-items" uk-height-viewport="offset-top: true; offset-bottom: 30">
			<li>
				<img src="https://picsum.photos/200/300" alt="" uk-cover>
			</li>
			<li>
				<img src="https://picsum.photos/200/300" alt="" uk-cover>
			</li>
			<li>
				<img src="https://picsum.photos/500/900" alt="" uk-cover>
			</li>
		</ul>

		<a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous uk-slideshow-item="previous"></a>
		<a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next uk-slideshow-item="next"></a>

	</div>

	<div class='card-home'>
		<div class="uk-card uk-card-default">
			<div class="uk-card-media-top">
				<img src="https://picsum.photos/200/300" alt="">
			</div>
			<div class="uk-card-body">
				<h3 class="uk-card-title">Media Top</h3>
			</div>
		</div>
	</div>
	<div class='card-home'>
		<div class="uk-card uk-card-default">
			<div class="uk-card-media-top">
				<img src="https://picsum.photos/200/300" alt="">
			</div>
			<div class="uk-card-body">
				<h3 class="uk-card-title">Media Top</h3>
			</div>
		</div>
	</div>
	<div class='card-home'>
		<div class="uk-card uk-card-default">
			<div class="uk-card-media-top">
				<img src="https://picsum.photos/200/300" alt="">
			</div>
			<div class="uk-card-body">
				<h3 class="uk-card-title">Media Top</h3>
			</div>
		</div>
	</div>
	<div class="uk-grid-small uk-child-width-expand@s uk-text-center uk-width-auto@m" uk-grid>
		<div class='card-home'>
			<div class="uk-card uk-card-default">
				<div class="uk-card-media-top">
					<img src="https://picsum.photos/200/300" alt="">
				</div>
				<div class="uk-card-body">
					<h3 class="uk-card-title">Media Top</h3>
				</div>
			</div>
		</div>
		<div class='card-home'>
			<div class="uk-card uk-card-default">
				<div class="uk-card-media-top">
					<img src="https://picsum.photos/200/300" alt="">
				</div>
				<div class="uk-card-body">
					<h3 class="uk-card-title">Media Top</h3>
				</div>
			</div>
		</div>
		<div class='card-home'>
			<div class="uk-card uk-card-default">
				<div class="uk-card-media-top">
					<img src="https://picsum.photos/200/300" alt="">
				</div>
				<div class="uk-card-body">
					<h3 class="uk-card-title">Media Top</h3>
				</div>
			</div>
		</div>
	</div>
</div> */
