.d-border {
	border:7px solid  var(--primary);
}

.d-grid {
	grid-template-columns: repeat(3, 180px);
	grid-template-rows: repeat(3, 290px);
}

.d-grid img {
	width: 182px;
	height: 242px;
	object-fit: cover;
}

.d-grid:first-child img {
	width: 500px;
	height: 500px; !important
	object-fit: cover;
}

.uk-text-align:hover {
	font-family: var(--font-family-primary);
	background-color: rgba(19,32,40,.5);
	backdrop-filter: blur(10px);
	color: var(--secondary);
	font-size: 2rem;
	border-radius: 10px 10px 0px 0px;
	margin: 0;
	padding: .5rem;
	opacity: 100%;
	transition: 0.1s;
}

.uk-text-align {
	opacity: 0%;
}

.uk-grid {
	display: flex;
	justify-content: space-between;
}


.uk-flex-wrap-between {
	align-content: center; 
.d-grid {
    grid-template-columns: repeat(3, 180px);
    grid-template-rows: repeat(3, 290px);
}

.d-grid img {
    width: 182px;
    height: 242px;
    object-fit: cover;
}

.d-grid:first-child img {
    width: 500px;
    height: 500px !important;
    object-fit: cover;
}