.header-nav-admin {
    font-family: var(--font-family-secondary);
}

.bouton-open-nav-admin {
    margin: 1rem 0rem 0rem 1rem;
    font-size: 1.5rem;
    border: 2px solid var(--primary);
}

.h3-admin-nav {
    font-size: 3rem;
}

.admin-nav-liste a {
    font-family: var(--font-family-secondary);
    font-size: 2rem;
    color: white;
    margin: 1rem;
}