.navcatalogue {
    width: 100%;
    height: 70px;
    background: #132028;
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-around;
    display: flex;
    padding: 0;
    padding-left: 5rem;
    font-size: 45px;
    padding-inline-start: 0px;
    margin-top: 3%;
}

.parent {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 180px);
    grid-template-rows: repeat(5, 290px);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    width: 70%;
    margin: auto;
}
    
.parent img {
    width: 180px;
    height: 290px;
    border: 5px solid #132028;
}

.produit {
    position: relative;
}

.produit 1 { grid-area: 1 / 1 / 2 / 2; }
.produit 2 { grid-area: 1 / 2 / 2 / 3; }
.produit 3 { grid-area: 1 / 3 / 2 / 4; }
.produit 4 { grid-area: 1 / 4 / 2 / 5; }
.produit 5 { grid-area: 1 / 5 / 2 / 6; }
.produit 6 { grid-area: 2 / 5 / 3 / 6; }
.produit 7 { grid-area: 2 / 4 / 3 / 5; }
.produit 8 { grid-area: 2 / 3 / 3 / 4; }
.produit 9 { grid-area: 2 / 2 / 3 / 3; }
.produit 10 { grid-area: 2 / 1 / 3 / 2; }
.produit 11 { grid-area: 3 / 1 / 4 / 2; }
.produit 12 { grid-area: 3 / 2 / 4 / 3; }
.produit 13 { grid-area: 3 / 3 / 4 / 4; }
.produit 14 { grid-area: 3 / 4 / 4 / 5; }
.produit 15 { grid-area: 3 / 5 / 4 / 6; }
.produit 16 { grid-area: 4 / 5 / 5 / 6; }
.produit 17 { grid-area: 4 / 4 / 5 / 5; }
.produit 18 { grid-area: 4 / 3 / 5 / 4; }
.produit 19 { grid-area: 4 / 2 / 5 / 3; }
.produit 20 { grid-area: 4 / 1 / 5 / 2; }

.middle {
    transition: 0.8s ease;
    position: absolute;
    text-align: center;
    opacity: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.produit:hover .middle {
    opacity: 1;
}

.priceCatalogue {
    background-color: #13202850;
    color: white;
    font-style: 17px;
    padding: 15px 16px;
    width: 154px;
    backdrop-filter: blur(20px);
}

    /*Media Query*/

@media (max-width: 1080px) {

.parent {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
}
        
.produit 1 { grid-area: 1 / 1 / 2 / 2; }
.produit 2 { grid-area: 1 / 2 / 2 / 3; }
.produit 3 { grid-area: 1 / 3 / 2 / 4; }
.produit 4 { grid-area: 2 / 1 / 3 / 2; }
.produit 5 { grid-area: 2 / 2 / 3 / 3; }
.produit 6 { grid-area: 2 / 3 / 3 / 4; }
.produit 7 { grid-area: 3 / 1 / 4 / 2; }
.produit 8 { grid-area: 3 / 2 / 4 / 3; }
.produit 9 { grid-area: 3 / 3 / 4 / 4; }
.produit 10 { grid-area: 4 / 1 / 5 / 2; }
.produit 11 { grid-area: 4 / 2 / 5 / 3; }
.produit 12 { grid-area: 4 / 3 / 5 / 4; }
.produit 13 { grid-area: 5 / 1 / 6 / 2; }
.produit 14 { grid-area: 5 / 2 / 6 / 3; }
.produit 15 { grid-area: 5 / 3 / 6 / 4; }
.produit 16 { grid-area: 6 / 1 / 7 / 2; }
.produit 17 { grid-area: 6 / 2 / 7 / 3; }
.produit 18 { grid-area: 6 / 3 / 7 / 4; }
.produit 19 { grid-area: 7 / 1 / 8 / 2; }
.produit 20 { grid-area: 7 / 2 / 8 / 3; }
.produit 21 { grid-area: 7 / 3 / 8 / 4; }
}


@media (max-width: 650px) {

.navcatalogue {
    font-size: 30px;
}

.parent {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(10, 1fr);
}

.produit 1 { grid-area: 1 / 1 / 2 / 2; }
.produit 2 { grid-area: 1 / 2 / 2 / 3; }
.produit 3 { grid-area: 2 / 1 / 3 / 2; }
.produit 4 { grid-area: 2 / 2 / 3 / 3; }
.produit 5 { grid-area: 3 / 1 / 4 / 2; }
.produit 6 { grid-area: 3 / 2 / 4 / 3; }
.produit 7 { grid-area: 4 / 1 / 5 / 2; }
.produit 8 { grid-area: 4 / 2 / 5 / 3; }
.produit 9 { grid-area: 5 / 1 / 6 / 2; }
.produit 10 { grid-area: 5 / 2 / 6 / 3; }
.produit 11 { grid-area: 6 / 1 / 7 / 2; }
.produit 12 { grid-area: 6 / 2 / 7 / 3; }
.produit 13 { grid-area: 7 / 1 / 8 / 2; }
.produit 14 { grid-area: 7 / 2 / 8 / 3; }
.produit 15 { grid-area: 8 / 1 / 9 / 2; }
.produit 16 { grid-area: 8 / 2 / 9 / 3; }
.produit 17 { grid-area: 9 / 1 / 10 / 2; }
.produit 18 { grid-area: 9 / 2 / 10 / 3; }
.produit 19 { grid-area: 10 / 1 / 11 / 2; }
.produit 20 { grid-area: 10 / 2 / 11 / 3; }
}