.contact-header {
    padding: 6rem;
    background-color: var(--primary);
}

.contact {
    padding: 1%;
    background-color: #132028;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.125rem;
    color: white;
    font-family: var(--font-family-primary);
    font-size: 5rem;
}

.blackline {
    width: 0.2rem;
    height: 50%;
    position: absolute;
    background-color: var(--primary);
    margin: 0;
    padding: 0;
}

.principale {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5rem 0rem;
}

.horaires {
    color: #132028;
    align-self: center;
    margin: auto;
    font-size: 1.5rem;
    font-family: var(--font-family-primary);
}

.h1-contact {
    font-family: var(--font-family-primary);
}

.contact-input {
    margin-bottom: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
}


.contact-input:focus::placeholder {
    color: #132028;
}


.input-form {
    width: 25%;
    margin: auto;
    font-family: var(--font-family-primary);
    font-size: 2.2rem;
    border-radius: 20px;
}


.contact-button {
    border-radius: 20px;
    font-family: var(--font-family-primary);
    font-size: 2rem;
    text-transform: none;
}

.contactError {
    color: red;
    font-family: var(--font-family-secondary);
    font-size: 1.1rem;
    margin-left: 1rem;
}

/* Responsive */
@media screen and (max-width: 1050px) {
    .principale {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blackline {
        transform: rotate(90deg);
        display: flex;
        justify-content: center;
        margin-top: 150px;
        height: 50uh;

    }

    .input-form {
        width: 60%;
        margin-top: 200px;
        font-size: larger;
    }

    .horaires {
        display: flex;
        flex-direction: column;
        font-size: larger;
        align-items: center;
    }

    .horaires p {
        display: flex;
        text-align: center;
    }

    h2 {
        text-align: center;
    }
}