.contact {
    background-color: #132028;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    color: white;
    font-family: 'imperial script';
}

.blackline {
    width: 3px;
    height: 50%;
    position: absolute;
    background-color: #132028;
    margin: 0;
    padding: 0;
}

.principale {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.horaires {
    color: #132028;
    align-self: center;
    margin: auto;
}


.contact-input {
    margin-bottom: 10px;
    border-radius: 20px;
}


.contact-input:focus::placeholder {
    color: #132028;
}


.input-form {
    width: 25%;
    margin: auto;
    font-family: 'imperial script';
    font-size: 35px;
    border-radius: 20px;
}

input[type="text"],
input[type="password"],
textarea {
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
}

/* Responsive */
@media screen and (max-width: 1050px) {
    .principale {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blackline {
        transform: rotate(90deg);
        display: flex;
        justify-content: center;
        margin-top: 150px;
        height: 50uh;

    }

    .input-form {
        width: 60%;
        margin-top: 200px;
        font-size: larger;
    }

    .horaires {
        display: flex;
        flex-direction: column;
        font-size: larger;
        align-items: center;
    }

    .horaires p {
        display: flex;
        text-align: center;
    }

    h2 {
        text-align: center;
    }
}