.container-page-404 {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.error404 {
    font-size: 10rem;
    color: #bf808c;
    font-family: var(--font-family-primary);
}

.message404 {
    font-size: 2rem;
    color: #132028;
}

.button404 {
    width: 100px;
    height: 50px;
    border-radius: 1rem;


}

.link404 {
    font-size: 1rem;
    color: #201659f9;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .error404 {
        font-size: 8rem;
    }

    .message404 {
        font-size: 1.5rem;
    }

    .link404 {
        font-size: 1rem;
    }

}