.error-body {
    background: url(../images/page404.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.h2-erreur {
    font-size: 5rem;
    color: white;
}

.error-p {
    color: white;
    font-size: 1.5rem;
    margin-top: 5rem;
}

.bouton-error {
    padding: 2rem;
    background-color: var(--primary);
    font-size: 2rem;
    color: white;
    border-radius: 20px;
    margin-top: 2rem;
}

.container-error {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}